.event-card {
    display: block;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
}

.event-org {
    display: inline-block;
    vertical-align: top;
}

.event-description {
    display: inline-block;
    padding: 5px 10px;
}

.event__name {
    font-weight: bold;
    font-size: 20px;
}

.event__place {
    text-align: right;
}
